.followers-container {
  width: 90%;
  margin: 16px auto;
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  margin: 8px;
}

.underline {
  background-color: rgb(63, 154, 232);
  width: 120px;
  height: 4px;
  margin: 2px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin: 16px auto;
  flex-wrap: wrap;
  width: 90%;
}

.page-btn {
  background-color: rgb(63, 154, 232);
  border: 1px solid black;
  padding: 4px 12px;
  color: rgb(7, 43, 70);
}

.active-btn,
.prev-btn:hover,
.next-btn:hover {
  background-color: rgb(7, 43, 70);
  color: white;
}

.prev-btn,
.next-btn {
  color: rgb(7, 43, 70);
  padding: 4px 12px;
}

button {
  border-radius: 8px;
  border: 1px solid black;
}

button:hover {
  filter: brightness(120%);
}
